body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table td, .table th { border-left: 1px solid #dddddd; }

.table tr {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.StatsTable td, .StatsTable th {
    min-width: 100px;
    text-align: center;
}


.overviewTable a {
    color: white;
}

.overviewTaken {
    text-align: center;
    background-color: red;
}

.overviewFree {
    text-align: center;
    background-color: white;
    color: black;
}

.selectStyle {
    height: 24px;
}
 
.dl-horizontal dt {
    text-align: left;
}
.receipt .dl-horizontal {
    width: 300px;
}

.receipt .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.receipt .dl-horizontal dd {
   text-align: right;
}


@media print
{
    .noprint {
        display: none;
    }

    .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .dl-horizontal dd {
    margin-left: 180px;
    }
    .dl-horizontal dd:before,
    .dl-horizontal dd:after {
    display: table;
    content: " ";
    }
    .dl-horizontal dd:after {
    clear: both;
    }
    .dl-horizontal dd:before,
    .dl-horizontal dd:after {
    display: table;
    content: " ";
    }
    .dl-horizontal dd:after {
    clear: both;
    }
}